{% extends 'base.twig' %}

{% block title %} Nytt emne {% endblock %}

{% block main %}

    <div class="container box center-elements">
{% if not insufficientRights %}
        <h2>Opprett ny emnebeskrivelse</h2>

        <form method="post" action="createCourseCode.php">
            <!-- Course code -->
            <label for="course_code">Emnekode</label>
            <input type="text" id="course_code" name="course_code" required>
            <br />

            <label for="course_name_nb_no">Emnenavn (norsk)</label>
            <input type="text" id="course_name_nb_no" name="course_name_nb_no" required>
            <br />

            <label for="course_name_nn_no">Emnenavn (nynorsk)</label>
            <input type="text" id="course_name_nn_no" name="course_name_nn_no">
            <br />

            <label for="course_name_en_gb">Emnenavn (engelsk)</label>
            <input type="text" id="course_name_en_gb" name="course_name_en_gb">
            <br />

            <!-- Degree -->
            <label for="degree">Grad</label>
            <select id="degree" name="degree">
                <option name="placeholder" value="0"></option>
{% for degree in degrees %}
                <option name="{{ degree.getDegree }}" value="{{ degree.getIdDegree }}">{{ degree.getDegree }}</option>
{% endfor %}
            </select>
            <br />

            <!-- ECTS -->
            <label for="ects">Studiepoeng</label>
            <select id="ects" name="study_point">
                <option name="placeholder" value="0"></option>
{% for studyPoints in allStudyPoints %}
                <option name="{{ studyPoints.getStudyPoints }}" value="{{ studyPoints.getIdStudyPoints }}">{{ studyPoints.getStudyPoints }}</option>
{% endfor %}
            </select>
            <br />

            <!-- Course leader -->
            <label for="course_leader">Studieleder</label>
            <select id="course_leader" name="course_leader">
                <option name="placeholder" value="0"></option>
                <!-- TODO: Logic behind displaying course leader's name needs reworking by backend -->
{% for all_user in all_user %}
                <option name="{{ all_user.getIdUser }}" value="{{ all_user.getIdUser }}">{{ all_user.getFirstName }} {{ all_user.getLastName }}</option>
{% endfor %}
            </select>
            <br />
            <br />

            <!-- Post form -->
            <input class="btn btn-info Default-Bg-Color" id="courseCodeButton" type="submit" name="submitCourseCode" value="Opprett emne">
        </form>
    </div>
{% else %}
    <h2>Du har ikke nødvendige rettigheter for å opprette en emnekode!</h2>
    <h2>Kontakt administrator.</h2>
{% endif %}
{% endblock %}